
.align-c{text-align:center;}
#height_32{height:32px;line-height:32px;font-size:18px;font-weight:600;background: #b1afaf;text-align:center;color: #3c3b3b;}
.width{width:1024px;margin:0 auto;}
#height_32 span{float:right;padding-right:20px;font-size:18px;}
@media screen and (max-width: 1200px){
	.width{width:990px;}

}
/*在线问诊*/
.form_1,.form_2{width:600px;margin:0 auto;font-size:14px;color:#333;margin-top:40px;}
.form_1 .form-1-list,.form_2 .form-2-list{
	margin-bottom:20px;
}
.form_1 .form-1-list input,.form_1 .form-1-list textarea{color:#aaa;}
.form_1 .form-1-list .left{width:35%;text-align:right;vertical-align: top;font-weight:700;font-size:16px}
.form_1 .form-1-list .right{width:64%;box-sizing:border-box;padding-left:10px;}
textarea{text-indent:2em;}
.form_1 .form-1-button button{border-radius: 20px;background:#aaa;padding:4px 25px;font-size:18px;color:#fff;border:none;}
.form_1 .form-1-button{width:50%;margin:20px auto;}
.form_1 .form-1-button span{font-weight:700;line-height:40px;}
/*问诊记录*/
.form-2-list span{font-weight:700;}
.form-2-list{overflow:hidden}
.form-2-list h2{margin-bottom:15px;}
.form-2-list textarea{width:99%!important;box-sizing: border-box;}
/*预约提醒*/
/*头部*/
#header-home{width:100%;height:80px;}
.width{max-width:1024px;margin:0 auto;}
#header-home .header-logo{margin-top:10px;height:70px;width:110px;border: 1px solid;}
#header-home .header-logo img{width:100%;}
#header-home .bottom{border-bottom:2px solid #ccc;}
.header-nav{margin-top:22px;}
.header-nav li{float:left; font-size:16px;padding:4px 50px;color:#aaa;font-weight:600;line-height:50px;margin-bottom:-4px;}
.header-nav li.active{border-bottom:6px solid #444;color:#000;font-size:18px;}
.user-open{line-height: 80px;font-size: 16px; padding: 0 40px;}
.user-name{padding:0 8px;}
/*预约提醒content*/
.content-ti{border:1px solid #999;margin-top:30px;font-size:14px;}
.content-ti .warp{padding:10px  0px;}
.content-ti .warp p{font-weight:700;line-height:30px;padding:0 15px;}
.content-ti .warp .ul-list-ti ul:after {content:"";clear:both;display:block;}
.content-ti .warp .ul-list-ti{border-bottom:2px solid #eee;}
.content-ti .warp .ul-list-ti ul{margin-left:15px;}
.content-ti .warp .ul-list-ti li{float:left;padding:4px 8px;font-size:16px;}
.content-ti .warp .ul-list-ti li.active{font-size:16px; color:#000;border:2px solid #eee;border-bottom:2px solid #FFF;margin-bottom:-2px;font-weight:700;}
.left-30{margin-left:30px;}
.content-ti .ul-list-top{margin-top:15px;}
.content-ti .ul-list-top>div{margin-bottom:20px;}
.content-ti .ul-list-top label{margin-right:30px;}
.content-ti .ul-list-top button{border:none;background:#eee;padding:4px 10px;border:1px solid #aaa;border-radius:4px;}
.content-ti .warp-show table{margin-left:10%;width:60%;text-align:center;}
.content-ti .warp-show table thead tr{background:#444;color:#fff;text-align:center;}
.color_aaa{color:#aaa;}